html {
	background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
   font-family: GillSans, Calibri, Trebuchet, sans-serif;

}

h3 {
	color: black;
    font-size: 68px;
    text-shadow: 1px 1px 3px #000;
    text-align: left;
    font-family: initial;
}
.no-margin {
	margin-bottom: 0px;
}

.result-container {
	position: absolute;
    margin-right: 100px;
}

ul.tabs {
    width: 400px;
    border: 2px solid black;
    border-bottom: none;
 }

 #test2 {
 	background-color: white;
 	width: 400px;
 	border: 2px solid black;
    border-top: none !important;
    margin-left: 20px;
    overflow:auto;
    height: 553px;
 }
#test1 {
	width: 423px;
    margin-left: 9px;
}
.map-container {
  width: 100%;
  max-width: 100%;
  height: 600px;
  border: 2px solid black;
}

.container {
	width: 85%;
}

#search {
margin-top: 38px;
}

button#send {
	border-radius: 5px;
	    height: 50px !important;
    margin-left: 5px;
    background-color: white;
    font-size: 20px;
}

input{
	background-color: #FEFEFE !important;
	font-size: 20px !important;
	border-radius: 5px !important;
}

button {
	height:45px !important;
	color: black !important;
	border: 3px solid black !important;
	padding: 2px 0px 2px 0px;
}
input#searchinput, #send {
border: 3px solid black !important;

}
.search-input-box {
	padding-left: 15px !important;
    font-size: 25px !important;
    }

tbody.highlight tr:hover {
    background-color: #4d9053 !important;
}

.row .col.s12.shiftleft {
	width: 440px !important;
    margin-left: auto;
    left: auto;
    right: auto;
}

#results {
	position: absolute;
        width: 400px;
        height: 552px;
        overflow: auto;
        cursor: pointer;
        overflow-x: hidden;
}